body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2025/08/25/20/04/nature-9796816_1280.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
header {
    background:linear-gradient(to top, #000428, #8ebfe9);
    color: white;
    padding: 5px;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
}
h2 {
    text-align: center;
    color: #080606;
}
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
}
input, select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    font-size: 14px;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #003366;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #0055aa;
}
footer {
    text-align: center;
    padding: 15px;
    background: #003366;
    color: white;
    margin-top: 40px;
}